<h2>Edit Book <%= @books.id %> </h2>

<form action="/update/<%=@books.id%>" method="post">
  <input type="hidden" name="_method" value="PUT">
  Name:
   <input type="text" name="name" value="<%= @books.name %>" >
   <br>
   <br>
  <input type="submit" value="Edit Book">
</form>
