<h1>All Books </h1>
<table>
  <th>ID</th>
  <td>&nbsp</td>
  <th>Name</th>
  <th colspan="3">Actions</th>
  <% @books.each do |book| %>
  <tr>
    <td><%= book.id %></td>
    <td>&nbsp</td>
    <td> <%= book.name %></td>
    <td>&nbsp</td>
    <td>&nbsp <a href="/books/<%= book.id %>" > Show </a> &nbsp </td>
    <td>&nbsp <a href="/books/<%= book.id %>/edit" > Edit </a>&nbsp </td>
    <td>&nbsp <a href="/books/<%= book.id %>/delete"> Delete </a>&nbsp</td>
  </tr>
  <% end %>
</table>
<br>
<a href= "/books/new" >Add Book</a>
