<h1> Add New Book </h1>
<form method="post" action="/post">
   <label for="name">Name: </label>
   <input type="text" name="name">
   <input type ="submit" value="Add Book">
</form>
<a href = "/"> Back </a>
