<h3> Show Book <%= @books.id %></h3>
Name: <%= @books.name %>
<br>
<br>
<a href = "/"> Back </a>&nbsp
<a href= "/books/<%= @books.id %>/edit"> Edit </a>&nbsp
<a href="/books/<%= @books.id %>/delete" > Delete </a>
